<!doctype html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Pirates!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/pirates.css" />
    </head>
    <body ng-app="pirates">
        <div id="app-container" ng-controller="treasureCalculatorController as vm">
            <h2>Pirate Treasure Calculator</h2>
            <div id="input-container">
                <input type="number" ng-model="vm.numberOfPirates" /><button ng-click="vm.calculate()">Calculate arrr treasure</button>
            </div>
            <div id="output-container" >
                <ul>
                    <li ng-repeat="result in vm.results" ng-cloak>
                    There be at least {{result.numberOfCoins}} doubloons for {{result.numberOfPirates}} pirates.
                    </li>
                    <li ng-repeat="loading in vm.dataLoading" ng-cloak><img id="spinner" ng-src="img/spinner.gif"></li>
                </ul>
                
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/localStorageService.js"></script>
        <script src="js/treasureCalculatorService.js"></script>
        <script src="js/treasureCalculatorController.js"></script>
    </body>
</html>
